@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
$grey1: #535353;
$grey2: #424242;
$grey3: #282828;
$grey4: #ccc;
$grey-border: #383838;
$grey-text: #f0f0f0;
$myriad-pro: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$open-sans: 'Open Sans Condensed', sans-serif;
$inconsolata:'Inconsolata', monospace;
$orbitron: 'Orbitron', sans-serif;
$tooltip-color: #ffffC0;
